*{
    margin: 0px;
    padding: 0px;
}

body{

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-image: url(../images/fundo.jpeg);
   background-position: center;
  
}

@font-face {

    font-family: FascinateInline;
    src: url(../Fonts/FascinateInline-Regular.ttf);
    
}
@font-face {
    font-family: Tapestry;
    src:url(../Fonts/Tapestry-Regular.ttf)
}

.container{

    margin: auto;
    max-width: 1200px;
}

header{
    background-color: #000000cc;
    text-align: center;
    color: red  ;
    border: 1px double black;
    border-radius: 50px;
    font-family: Tapestry, Arial, Helvetica, sans-serif;
    
    
}

.title{

    font-size: 35px;
}
.subtitle{

    font-size: 50px;
    font-weight: bold;
    
}

